PUBLIC_SANITY_PROJECT_ID=wyg7m2t0
PUBLIC_SANITY_DATASET=production
# Analítica y verificación de Google (opcionales en desarrollo)
PUBLIC_GA_ID=G-XXXXXXXXXX
PUBLIC_GOOGLE_SITE_VERIFICATION=tu-token-de-verificacion
